{% extends 'sidebar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% block content %}

    <div class="main-content">
        <h1 class="mt-4">Listes Des Dons</h1>
                        
                        
                        <br><br>

                            {% if dons %}
                                
                                <table class="table table-bordered">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Nom Bénéficiaires </th>
                                            <th scope="col">Bénéficiaires </th>
                                            <th scope="col">Id_Pub</th>
                                            <th scope="col">Date </th>
                                            <th scope="col">Montant</th>
                                            <th scope="col">est_paye</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for don in dons %}
                                            <tr>
                                                <td>{{ don.id }}</td>
                                                <td>{{ don.publication.association.user.first_name }}</td>
                                                <td>{{ don.publication.association.user.username }}</td>
                                                <td>
                                                    <a href="{% url 'detail' don.publication.id %}">{{ don.publication.id }}</a>
                                                </td>
                                                <td>{{ don.date }}</td>
                                                <td>{{ don.montantDons }}</td>
                                                <td>{{ don.est_paye }}</td>
                                                                                                
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <br><br><p>Sorry, no pending dons.</p>
                            {% endif %}
    </div>

    <!-- Bootstrap JS Bundle (Popper.js included) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}

</body>
</html>