{% extends 'base.html' %}

{% block content %}
<style>
  .people-nearby .google-maps{
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f1f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .people-nearby .google-maps .map{
    height: 300px;
    width: 100%;
    border: none;
  }
  
  .people-nearby .nearby-user{
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
  }
  
  img.profile-photo-lg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
</style>
            <br><br><br>
            <div class="container">
                <h2>List of Associations</h2>
                {% if association_list %}
                    <div class="row">
                        {% for association in association_list %}
                            <div class="col-md-8">
                                <div class="people-nearby">
                                    <div class="nearby-user">
                                        <div class="row">
                                            <div class="col-md-2 col-sm-2">
                                                <img src=src="{{ association.image.url }}" alt="user" class="profile-photo-lg">
                                            </div>
                                            <div class="col-md-7 col-sm-7">
                                                <h5><a href="#" class="profile-link">{{ association.user.first_name }}</a></h5>
                                                <p>{{ association.user.username }}</p>
                                                <!--<p class="text-muted">Location: {{ association.user.location }}</p>-->
                                            </div>
                                            <div class="col-md-3 col-sm-3">
                                                <a href="{% url 'contact_association' association.id%}" class="btn btn-primary pull-right">contact</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>No associations found.</p>
                {% endif %}
            </div>
{% endblock %}     