{% extends 'sidebar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% block content %}   

    <!-- Main Content -->
    <div class="main-content">
        <!-- Donor Information Header -->
        <h1 class="mt-4">Espace Association</h1>
    
        <!-- Your main content goes here -->
        <!-- For example: -->
        <main class="col-md-10 bg-light p-4 content">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-3">
                        {% if association.image %}
                            <img src="{{ association.image.url }}" alt="User Image" class="img-fluid rounded-circle">
                        {% else %}
                            <i class="fas fa-user-circle fa-5x text-secondary"></i>
                        {% endif %}
                    </div>
                    <div class="col-md-9">
                        <div class="mb-3"><span class="fw-bold me-2"><i class="fas fa-user me-1"></i>Nom :</span>{{ association.user.first_name }}</div>
                        <div><span class="fw-bold me-2"><i class="fas fa-envelope me-1"></i>Email :</span>{{ association.user.email }}</div>
                    </div>
                </div>
            </div>
        </main>
    </div>
     
    <!-- Bootstrap JS Bundle (Popper.js included) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}

  </body>
</html>

