{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
        <title>HopeBloom Reset Password</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
    
        <!-- Favicons -->
        <link href="{% static 'assets/img/bloom-lg.png' %}" rel="icon">
        <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
        <!-- Vendor CSS Files -->
        <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
        <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    
        <!-- Template Main CSS File -->
        <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    
        <style>
            body{
                margin-top:20px;
                background-color: #fff;
            }
            .container{
            padding-top: 210px;
        }
            .card {
                margin-bottom: 1.5rem;
                box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
            }
            .card {
                position: relative;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-direction: column;
                flex-direction: column;
                min-width: 0;
                word-wrap: break-word;
                background-color: #fff;
                background-clip: border-box;
                border: 1px solid #e5e9f2;
                border-radius: .2rem;
            }
            .badge-soft-primary {
                font-size: 1.3em; padding: 0.5em 1em;
                color: #3b76e1 !important;
                background-color: rgba(59,118,225,.1);
            }
        </style>
    </head>
<body>
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-sm-10 col-md-8 col-lg-12">
                <div class="text-center mt-4">
                    <h1 class="h2">Reset Your Password</h1>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <img src="{% static 'assets/img/undraw_Forgot_password_re_hxwm.png' %}" alt="Forgot Password" class="img-fluid">
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6 d-flex align-items-center">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    {% if validlink %}
                                        {% if form.errors %}
                                            <div class="alert alert-danger alert-dismissible" role="alert">
                                                <div id="form_errors">
                                                    {% for key, value in form.errors.items %}
                                                        <strong>{{ value }}</strong>
                                                    {% endfor %}
                                                </div>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        {% endif %}
    
                                        <form method="POST">
                                            {% csrf_token %}
                                            <label class="small mb-1" for="id_new_password1">New Password:</label>
                                            <div class="form-group text-center"> <!-- Center align the form fields -->
                                                <input type="password" name="new_password1" autocomplete="new-password"
                                                    class="form-control" required id="id_new_password1"
                                                    placeholder="Enter password"/><br>
                                                <span>
                                                </span>
                                            </div>
                                            <label class="small mb-1" for="id_new_password2">New Password Confirmation:</label>
                                            <div class="form-group text-center"> <!-- Center align the form fields -->
                                                <input type="password" name="new_password2" autocomplete="new-password"
                                                    required id="id_new_password2" class="form-control"
                                                    placeholder="Confirm password"/>
                                            </div>
                                            <div class="text-center mt-3">
                                                <button type="submit" class="badge badge-soft-primary" style="border: none;" id="reset">Reset Password</button>
                                            </div>
                                        </form>
                                    {% else %}
                                        <div class="alert alert-danger">
                                            The password reset link was invalid, possibly because it has already been used.
                                            Please request a new password reset.
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js'%}"></script>    
</body>
</html>
