{% extends 'base.html' %}
{% load static %}
{% load custom_filters %} 
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details de publication</title>
    {% block extra_styles %}
   <style></style>
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7 mb-4">
                <div class="container details-container">
                    <div class="card article-card">
                        <div class="widget-title ">
                            <h3>{{ publication.titre }}</h3>
                        </div>
                        <div class="article-img">
                            <img src="{{ publication.image.url }}" title="" alt="{{ publication.titre }}" class="img-fluid">
                        </div>
                        <div class="article-content" id="publication-content">
                            <p>{{ publication.contenu|add_initial_space|first_letter_bold_upper|first_line_bold_italic|last_line_bold_italic|safe|linebreaksbr }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="association mb-4">
                    <div class="widget widget-author">
                        <div class="widget-title">
                            <h3>Author</h3>
                        </div>
                        <div class="widget-body">
                            <div class="media align-items-center">
                                <div class="avatar">
                                    <img src="{{ association.image.url }}" title="{{ publication.association.user.first_name }}" alt="">
                                    <span style="color: black; font-size: 16px; font-weight: bold;">Hello, I'm {{ publication.association.user.first_name }}</span>
                                </div>
                                <br>
                            </div>
                            <p>Email: <a href="{% url 'contact_association' association.id %}">{{ publication.association.user.email }}</a></p>
                            <p>Location:<a href="https://www.google.com/maps/search/{{ association.adresse }}" target="_blank"> {{ association.adresse }}</a></p>
                        </div>
                    </div>
                </div>
                <div class="details mb-4">
                    <div class="widget widget-author">
                        <div class="widget-title">
                            <h3>Details</h3>
                        </div>
                        <div class="widget-body">
                            <ul class="list-group list-group-flush mb-3">
                                <li class="list-group-item"><strong>Date:</strong> {{ publication.date|date:"j F Y" }}</li>
                                <li class="list-group-item"><strong>Time:</strong> {{ publication.date.time }}</li>
                                <li class="list-group-item"><strong>Category:</strong> {{ publication.category }}</li>
                                <li class="list-group-item"><strong>Objectif:</strong> {{ publication.montant }}$</li>
                                <li class="list-group-item">
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar"
                                            style="width: {{ publication.progress_percent }}%; background-color: #5d7990;"
                                            aria-valuenow="{{ publication.progress_percent }}" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                    {% if publication.Montant_rest > 0 %}
                                    <div style="font-style: italic; text-decoration: underline;"><strong>Montant restant {{ publication.Montant_rest|floatformat:2 }}$</strong></div>
                                    {% else %}
                                    <div style="font-style: italic; text-decoration: underline;"><strong>Objectif atteint</strong></div>
                                    {% endif %}
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-button">
                                        <a href="{% url 'faire_don' publication.id %}" class="btn btn-primary custom-btn">Faire un Don</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dons mb-4">
                    <div class="widget widget-author">
                        <div class="widget-title">
                            <h3>listes des dons</h3>
                        </div>
                        <div class="widget-body">
                            <ul class="list-group list-group-flush mb-3">
                                {% for don in dons %}
                                <li class="don-item">
                                    <span class="don-details">
                                        <span class="don-label">User:</span>
                                        <span class="don-value">{{ don.user.first_name|default_if_none:"Anonyme" }}</span>
                                        <span class="don-label">Montant:</span>
                                        <span class="don-value">{{ don.montantDons }}$</span>
                                    </span>
                                </li>
                                {% empty %}
                                <li class="no-don">Aucun don associé à cette publication pour le moment.</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="article-comment">
                    <h4>Commentaires</h4>
                    {% for comment in comments %}
                    <div>
                        <p><strong>{{ comment.auteur.username }}:</strong> {{ comment.content }}</p>
                        <p><em>{{ comment.date_posted }}</em></p>

                        <!-- Lien de mise à jour -->
                        {% if comment.auteur == request.user %}
                        <a href="{% url 'update_comment' comment.id %}">Modifier</a>
                        {% endif %}

                        <!-- Lien de suppression -->
                        {% if comment.auteur == request.user %}
                        <form method="post" action="{% url 'delete_comment' comment.id %}">
                            {% csrf_token %}
                            <button type="submit">Supprimer</button>
                        </form>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <br>
                    <h6>Ajouter un commentaire</h6>
                    <form method="post" action="{% url 'create_comment' model_name='publication' object_id=publication.id %}">
                        {% csrf_token %}
                        <textarea name="content" rows="3" class="form-control"></textarea>
                        <button type="submit" class="px-btn px-btn-theme">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>


</html>